#p01  {
    color: red;
    font-family: courier;
    font-size: 160%;
    border: 1px solid red;
    padding: 30px;
    margin: 15px;
}
p.test {
    color: green;
    font-family: verdana;
    font-size: 160%;
    border: 1px solid green;
    padding: 30px;
    margin: 15px;
}